.container               
  = form_with(model: task, url: board_task_path(board_id: board, id: @task.id), local: true) do |f|
    %div.form
      = f.label :eyecatch, 'アイキャッチ'
    %div.form
      = f.file_field :eyecatch
    %div.form_label
      = f.label :title, 'タイトル'
    %div.form
      = f.text_field :title, class: 'title_form'
    %div.form_label
      = f.label :content, '内容'
    %div.form
      = f.text_area :content, class: 'content_form'
    %div.form_label
      = f.label :limit, '期限'
    %div.form
      = f.date_field :limit
    %div
      = f.hidden_field :user_id, :value => user_id
    = f.submit '保存', class: 'submit_btn'