= @task.title
- if @task.eyecatch.attached?
  .eyecatch
    = image_tag @task.eyecatch
= @task.content
= @task.limit

-@comments.each do |comment|
  .card
    =comment.content
    = image_tag comment.user.avatar_image, class: "avatar_image"
  
.add_new_card
  = link_to new_task_comment_path(@task), class: "text-decoration" do
    .add_new_card_text
      +Add new comment

