.task_title
  = @task.title
- if user_signed_in? && current_user.tasks.exists?(id: @task.id)
  .dropdown.dropbtn_task
    = image_tag 'actions.svg'
    .dropdown-content.mini
      = link_to '編集する',  edit_board_task_path(board_id: @board.id, id: @task.id)
      = link_to '削除する',  board_task_path(board_id: @board.id, id: @task.id), data: { method: 'delete', confirm: '本当に削除してもよろしいですか'}

- if @task.eyecatch.attached?
  .eyecatch
    = image_tag @task.eyecatch, class: 'task_image'
.task_content
  .task_content_text
    = @task.content
  .task_content_limit
    = @task.limit

.comment
  Comment
-@comments.each do |comment|
  .comment_content    
    =comment.content
  = image_tag comment.user.avatar_image, class: "comment_avatar_image"
  
.add_new_comment_link
  = link_to new_task_comment_path(@task), class: "text-decoration" do
    .add_new_comment
      .add_new_comment_text
        +Add new comment

