%h2.login_title Log in
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  %div.login_form_label
    = f.label :email
  %div.login_form
    = f.email_field :email, autofocus: true, autocomplete: "email", class: 'email_form'
  %div.login_form_label
    = f.label :password
  %div.login_form
    = f.password_field :password, autocomplete: "current-password", class: 'password_form'
  
  %div
    = f.submit "Log in", class: 'login_btn'
= render "devise/shared/links", class: 'margin-bottom'
