.container
  = form_with(model: board, local: true) do |f|
    %div.form_label
      = f.label :title, 'name'
    %div.form
      = f.text_field :title, class: 'title_form'
    %div.form_label
      = f.label :content, 'Description'
    %div.form
      = f.text_area :content, class: 'content_form'
    = f.submit 'submit', class: 'submit_btn'
      
  
    